/* Master styles */
body {
  margin: 0px;
  font-family: "Lato",sans-serif;
  background-color: lightgray;      /* Houden of niet? */
}

.container {
  display: grid;
  grid-template: 1fr;
}
/* Nav styles */
.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 38px;
  background-color: white;      /* houden of niet */
}

.left-side {
  display: flex;
}

.nav-wrapper > .left-side > div {
  margin-right: 20px;
  font-size: 0.9em;
  text-transform: uppercase;
}

.nav-link-wrapper {
  height: 22px;
  border-bottom: 1px solid transparent
  transition: border-bottom 0.5s;

}

.nav-link-wrapper a {
  color: #8a8a8a;
  text-decoration: none;
  transition: color 0.5s;

}

.nav-link-wrapper:hover {
  border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
  color: black;
}

.active-nav-link {
  border-bottom: 1px solid black;
}

.active-nav-link a {
  color: black !important;
}

/* GLENN OTS right side */
.brand {
  text-decoration: underline;
}

/* portfolio styles */
.portfolio-items-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.portfolio-item-wrapper {
  position: relative;
}

.portfolio-img-background {
  height: 350px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.img-text-wrapper {
  position: absolute;
  top 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 110%;
  text-align: center;
  padding-left: 118px;
  padding-right: 100px;
}

.logo-wrapper img{
  width: 220px;
  height: 280px;
  margin-bottom: 10px;
  margin-top: 5px;
}

/* Needs to be more specifict with selector */
.img-text-wrapper .subtitle {
  transition: 1s;
  font-weight: 600;
  color: transparent;
}
.img-text-wrapper:hover .subtitle {
  font-weight: 600;
  color: black;
}
.img-darken {
  transition: 1s;
  filter: brightness(10%);
}

/* About page styles */
.two-column-wrapper {
  display: grid;
  margin: 1% 0;
  grid-template-columns: 0.5fr 1fr;
}

.profile-image-wrapper img {
  width: 76%;
  height: auto;
  margin-top: 50px;
  margin-bottom: 10px;
  margin-left: 65px;
}

.profile-content-wrapper {
  padding: 31px;
}

.profile-content-wrapper h1{
  color: black;
}

/* Footer */
footer {
  display: flex;
  justify-content: center;
  padding: 1px;
  background-color: #ffffff;
  color: #black;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 97%;
  padding: 15px;
  text-align: center;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  text-align: center;
}

/* contact section*/
section-contact{
  background-color: lightgray;
  color: black;
  padding-top: 5px;
}

.contact-buttons{
  list-style: none;
  display: flex;
  justify-content: center;
}

.contact-buttons img {
  width: 32px;
  margin: 10px 15px;
}
.contact-h3 {
  text-align: center;
}

/* Topic styles */
.topic-h2 {
  text-align: center;
}
.img-3 {
  float: right;
}
.topic-p {
  text-align: center;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  font-weight: bold;
}

/* text topics in lu */
.topic-li {
  text-align: inherit;
  margin-top: 10px;
  margin-right: 20px;
}
